<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <base id="base">
    <script src="/assets/js/config.js"></script>
    <title>ShayeghStore</title>
    <link href="assets/css/main.css" rel="stylesheet" />
    <link href="assets/css/login_signup_profile.css" rel="stylesheet" />
    <link href="assets/css/menu.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/footer.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/hero_header.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/sorting_box.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/categories.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/product_box.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/price_filter.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/home_list.css" rel='stylesheet' type='text/css'>
    <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <!-- header -->
        <header style="text-align: center;">
            <%- include("menu.ejs"); -%>
        </header>
        <!-- header -->

        <!-- main -->
        <main class="main" style="text-align: center;">
            <!-- <%- include("./home/hero_header.ejs"); -%>
            <%- include("./home/sorting_box.ejs"); -%>
            <%- include("./home/home_list.ejs"); -%> -->
            <%- include("./login_signup_profile/adminpanel.ejs"); -%>
        </main>
        <!-- main -->

        <!-- footer -->
        <footer class="footer" style="text-align: center;">
            <%- include("footer.ejs"); -%>
        </footer>
        <!-- footer -->
    </div>
</body>
<script src="assets/js/price_filter.js"></script>
</html>