<div id="content">
    <p class="title child">
        ویرایش محصولات
    </p>
    <form action="/editproduct?id=<%= data.id %>" enctype="multipart/form-data" method="POST">
    <div class="inputs-signup child" style="width: 70%;grid-template-columns: 1fr 1fr;grid-template-rows: 1fr 1fr;grid-column: 1/3;">
        <%- include('input.ejs',{data:{name:'دسته بندی محصول',placeholder:'دسته بندی مورد نظر خود را وارد کنید'},additional:"availability",type:"text",name:"category"}) -%>
        <%- include('input.ejs',{data:{name:'عنوان محصول',placeholder:'عنوان مورد نظر خود را وارد کنید'},additional:"availability",type:"text",name:"name"}) -%>
        <%- include('input.ejs',{data:{name:'موجودی محصول',placeholder:'موجودی محصول خود را وارد کنید'},additional:"availability",type:"number",name:"count"}) -%>
        <%- include('input.ejs',{data:{name:'قیمت محصول',placeholder:'اقیمت مورد نظر خود را وارد کنید'},additional:"availability",type:"number",name:"price"}) -%>
    </div>
    <label style="margin-bottom: 15px;">تصویر مورد نظر خود را آپلود کنید</label>
    <input type="file" class="edit_img" name="img" accept="image/*">
    <button type="submit" class="submitbutton child"> ثبت تغییرات</button>
    </form>
</div>