<div class="input <%= additional %>">
    <label class="input-title"><%= data.name %></label>
    <input type="<%= type %>" oninput="validateForm(this.name)" name="<%= name %>" class="input-space input_data <%= additional %>" placeholder="<%= data.placeholder %>" type="text">
</div>