<div id="content">
    <div class="profile-title child etab">
        <a href="/addbalance" class="tinybtn child">افزایش موجودی</a>
        <div style="padding: 3px;">موجودی حساب شما: <%= data.user.balance %> تومان </div>
        <div style="font-size: 20px;"> | <%= data.user.firstname %> عزیز، خوش آمدید </div>
    </div>
    <!-- <div class="child rtab">
        <div style="font-size: 20px;"> <%= data.user.firstname %> عزیز، خوش آمدید </div>
    </div> -->
    <div class="tabbar child">
        <button class="tablink tablinkleft" onclick="changetab('receipts')">رسید ها</button>
        <button class="tablink tablinkright unselected" onclick="changetab('profile')">پروفایل</button>
    </div>

    <!-- <%- include('receipts.ejs') -%> -->
    <%- include('editprofile.ejs') -%>
    
    
</div>