<div id="div-rtab" style="display: none;" class="receipts child">
    <table>
        <tr id="trth">
          <th>کد پیگیری</th>
          <th>کالا</th>
          <th>قیمت پرداخت شده</th>
          <th>نام خریدار</th>
          <th>آدرس ارسال شده</th>
        </tr>
        <% for(let i =0 ; i < orders.length ;i++) { %>
            <tr name="objects" data-name="<%= orders[i].sell_id %>">
                <td style="font-family: Arial, Helvetica, sans-serif;"><%= orders[i].sell_id %></td>
                <td><%= orders[i].product_name %></td>
                <td><%= orders[i].price %> تومان </td>
                <td><%= orders[i].customer_name %></td>
                <td><%= orders[i].recv_address %></td>
            </tr>
            <% } %>
      </table>
</div>