<div id="content">
    <p class="title child">
        فروشگاه - ثبت نام
    </p>
    <form action="/signup" method="POST">
    <div class="inputs-signup child">
        <%- include('input.ejs',{data:{name:'نام خانوادگی',placeholder:'نام خانوادگی خود را وارد کنید'},additional:"",type:"text",name:"last_name"}) -%>
        <%- include('input.ejs',{data:{name:'نام',placeholder:'نام خود را وارد کنید'},additional:"",type:"text",name:"first_name"}) -%>
        <%- include('input.ejs',{data:{name:'رمز عبور',placeholder:'رمز عبور خود را وارد کنید'},additional:"",type:"password",name:"password"}) -%>
        <%- include('input.ejs',{data:{name:'ایمیل',placeholder:'ایمیل عبور خود را وارد کنید'},additional:"",type:"email",name:"email"}) -%>
        <%- include('textarea.ejs',{data:{name:'آدرس',placeholder:'آدرس خود را وارد کنید'},name:"address"}) -%>
    </div>
    <button type="submit" class="submitbutton child">ثبت نام</button>
    </form>
</div>